/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (min-width: 84em) {
  // PageTop
  .PageTop {
    width: 100%;
    height: 100vh;
    & .Navigation {
      width: 90%;
      position: absolute;
    }
  }

  // HeaderNavigation
  .HeaderNavigation {
    height: 100vh;

    & .AvatarHero {
      width: 60rem;
      height: 60rem;
    }
    & .Button {
      width: 500px;
      height: 50px;
      & a {
        left: 65%;
        top: 50%;
      }
    }
  }
  //PageMedium
  .PageTop {
    width: 100%;
    height: 100vh;
  }
  .AboutMe {
    &Img {
      width: 400px;
      height: 400px;
      opacity: 0.5;
      & img {
        width: 350px;
        height: 350px;
        background-color: wheat;
        position: absolute;
        left: 7%;
        top: 25%;
      }
    }
    &Content {
      & p {
        width: 640px;
      }
    }
  }
  .ContextProject {
    margin-bottom: 60px;
  }
  .buttonShow {
    width: 100%;
  }
  .GridProject {
    &List {
      & p {
        height: 50px;
        margin-bottom: 20px;
      }
    }
  }
  .imgContainer {
    margin-left: 24px;
    height: 200px;
    width: 300px;
  }
  .programmingContainer {
    margin-top: 25px;
    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      padding: 5px 5px;
    }
  }
  .li-cart {
    p {
      height: 100px;
    }
  }
  .contact {
    &-information {
      gap: 2rem;
    }
    &-container {
      width: 100%;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-title {
      width: 900px;
      gap: 30px;
      margin-bottom: 0px;
    }
    &-information {
      .chapter {
        width: 15rem;
      }
    }
    &-EmailPhone {
      gap: 4rem;
      margin-bottom: 40px;
    }
  }

  .contact-container .flexBoxStartColum a {
    padding-top: 40px;
  }
  .GridProjectList {
    grid-template-columns: repeat(3, 1fr);
  }
}
