/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  // Navigation
  .PageTop {
    width: 100%;
    height: 100vh;

    & .Navigation {
      display: none;
    }
    // HeaderNavigation
    .HeaderNavigation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      &Content {
        width: 600px;
        height: 200px;
      }
      & .imageAvatar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48rem;
        width: 48rem;
      }
      & .Button {
        width: 500px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        & a {
          left: 45%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
