/* ************************************************************** */
/* ----------------------BELOW 544px (Phones) ------------- */
/* ************************************************************** */
@media (max-width: 38rem) {
  .chapter {
    margin-bottom: 2.6rem;
  }
  .project {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-container {
    flex-direction: column;
    margin-bottom: 2.9rem;
    & h2 {
      font-size: 24px;
      margin-bottom: 3.7rem;
    }
    & div {
      display: grid;
      grid-template-columns: repeat(2, 200px);
    }
  }
  .icon {
    width: 24px;
    height: 24px;
  }
  .button {
    & span {
      font-size: 14px;
    }
  }
  .contact {
    &-container {
      width: 30.8rem;
      height: 47rem;
    }
    &-information {
      gap: 1.4rem;
    }
    &-title {
      align-items: start;
      gap: 0.5rem;
    }
    &-EmailPhone {
      flex-direction: column;
      align-items: start;
      gap: 0.5rem;
    }
    &-callMe {
      align-items: start;
      p {
        align-items: start;
      }
    }
  }
  .footer-container {
    width: 30.8rem;
    display: flex;
    gap: 0;
    flex-direction: column;
    & p {
      order: 1;
    }
  }
  #message.show {
    width: 300px;
    padding: 10px;
  }
  //Skill
  .skills-container {
    align-items: start;
    gap: 2rem;
    & h2 {
      width: 300px;
      margin-bottom: 4.8rem;
    }
  }
  .SkillsItemContainerMobileTitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 52px;
    color: white;
    opacity: 0.5;
  }
  .SkillsItemContainer {
    ul {
      flex-wrap: wrap; /* Cho phép phần tử con xếp xuống dòng khi ở dạng desktop */
      min-width: auto; /* Huỷ thiết lập chiều rộng tối thiểu cho phần tử con */
    }
  }
  //contact-container
  .contact-container {
    width: 100%;
  }
  //li-cart
  .li-cart {
    width: 20rem;
    height: 28rem;
    & h3 {
      font-size: 10px;
      margin-bottom: 7px;
    }
    & p {
      font-size: 7px;
      height: 50px;
      width: 150px;
    }
  }
  .imgContainer {
    width: 15rem;
    height: 10rem;
  }
  .programming {
    width: 42px;
    height: 15px;
    padding: 4.5px 9px;
  }
}
