/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  // Navigation
  .PageTop {
    width: 100%;
    height: 100vh;

    & .Navigation {
      display: none;
    }
    // HeaderNavigation
    .HeaderNavigation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &Content {
        width: 450px;
        height: 200px;
      }
      & .imageAvatar {
        margin-top: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48rem;
        width: 48rem;
      }
      & .Button {
        margin-top: -8rem;
        width: 500px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        & a {
          left: 45%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  //PageMedium
  .PageTop {
    width: 100%;
  }
  .AboutMeContainer {
    max-width: 690px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .AboutMe {
    width: 400px;
    height: 500px;
    &Boder {
      width: 400px;
      height: 400px;
      opacity: 0.8;
    }
    &Img {
      height: 100%;
      width: 100%;
      position: relative;
      & img {
        width: 500px;
        opacity: 1;
        height: 500px;
        position: absolute;
        left: 0%;
        top: -40px;
      }
    }
    &Content {
      margin-top: 10rem;
      & .chapter {
        width: 150px;
        background-color: #7b4ae2;
      }
      & p {
        width: 450px;
        font-size: 2.2rem;
      }
    }
  }
  .TextAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & .chapter {
      width: 19rem;
      background-color: rgba(123, 74, 226, 0.2);
      padding: 20px 40px;
    }
    width: 450px;
    & p {
      font-size: 1.6rem;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  .ContextProject {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    gap: 30px;
    & h2 {
      font-size: 3.6rem;
    }
    & div {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      & button {
        padding: 10px 20px;
      }
    }
  }
  .GridProject {
    width: 100%;
    &List {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .buttonShow {
    width: 100%;
  }
  #project {
    margin-top: 54px;
  }
  .SkillsItemContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .programmingContainer {
    margin-top: 25px;
    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 40px;
      padding: 5px 30px;
    }
  }
  /// Bottom
  .contact {
    &-information {
      gap: 3rem;
    }
    &-EmailPhone {
      width: 600px;
      gap: 10rem;
    }
  }
  .buttonBackTop {
    margin-top: 50px;
    margin-bottom: 40px;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
      color: #7b4ae2;
    }
  }
  .PageBottom {
    padding-top: 40px;
    width: 100%;
  }
  footer {
    flex-direction: column;
    gap: 20px;
    padding: 25px;

    & div {
      & .icon {
        width: 34px;
        height: 34px;
        background-color: aliceblue;
        svg {
          width: 24px;
          height: 24px;
        }
        &:hover {
          background-color: wheat;
        }
      }
    }
    & .text-footer {
      display: none;
    }
    & .div-hidden {
      display: none;
    }
  }
}
/* ************************************************************** */
/* ----------------------BELOW 544px (Phones) ------------- */
/* ************************************************************** */
@media (max-width: 40em) {
  html {
    width: 100%;
  }
  .App {
    width: 100%;
  }
  //PageTop
  .PageTop {
    width: 100%;
    height: 100vh;

    & .Navigation {
      display: none;
    }
    // HeaderNavigation
    .HeaderNavigation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 80px;
      & .Button {
        margin-right: 31.5px;
      }
      & .chapter {
        width: 32rem;
        margin-right: 31.5px;
      }
      &Content {
        width: 320px;
        height: 200px;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & h1 {
          font-size: 2.8rem;
          margin-right: 31.5px;
        }
        & h3 {
          margin-right: 31.5px;
        }
        & .HeaderNavigationIcon {
          margin-right: 31.5px;
        }
      }
      & .imageAvatar {
        margin-top: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36rem;
        width: 36rem;
      }
      & .Button {
        margin-top: -8rem;
        width: 300px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        & a {
          left: 45%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  //PageMedium
  .PageMedium {
    width: 100%;
  }
  .AboutMeContainer {
    max-width: 690px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .AboutMe {
    width: 300px;
    &Boder {
      width: 350px;
      height: 350px;
      opacity: 0.8;
    }
    &Img {
      position: relative;
      & img {
        width: 450px;
        height: 450px;
        opacity: 1;
        position: absolute;
        left: 0%;
        top: -50px;
      }
    }
    &Content {
      width: 350px;
      margin-top: 10rem;
      & .chapter {
        margin: 0 auto;
        width: 150px;
        background-color: rgba(123, 74, 226, 0.2);
      }
      & h3 {
        font-size: 3rem;
        font-weight: 700;
        margin: 0 auto;
      }
      & p {
        width: 350px;
        font-size: 1.8rem;
        line-height: 1.5;
      }
    }
  }
  .TextAbout {
    & p {
      font-size: 1.6rem;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  //project
  .ContextProject {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    gap: 30px;
    & h2 {
      font-size: 3.6rem;
    }
    & div {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      & button {
        padding: 10px 20px;
        & svg {
          width: 24px;
          height: 24px;
        }
        & span {
          font-size: 1.6rem;
        }
      }
    }
  }
  .GridProject {
    width: 100%;
    &List {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .buttonShow {
    width: 100%;
    & p span {
      font-size: 1.6rem;
    }
  }
  #project {
    margin-top: 54px;
  }
  .SkillsItemContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .skills-container {
    & div {
      & h4 {
        text-align: center;
        font-size: 1.8rem;
      }
      & ul li {
        & span {
          font-size: 1.6rem;
        }
      }
    }
    h2 {
      font-size: 2.6rem;
      margin-bottom: 60px;
    }
  }
  .programmingContainer {
    margin-top: 12px;
    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 40px;
      padding: 5px 30px;
    }
  }
  /// Bottom
  .contact {
    &-information {
      gap: 3rem;
    }
    &-EmailPhone {
      width: 100%;
      flex-direction: column;
      gap: 5rem;
    }
  }
  .imgContainer {
    height: 200px;
    width: 300px;
  }
  .buttonBackTop {
    margin-top: 50px;
    margin-bottom: 40px;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
      color: #7b4ae2;
    }
  }
  .PageBottom {
    padding-top: 40px;
    width: 100%;
  }
  footer {
    flex-direction: column;
    gap: 20px;
    padding: 25px;

    & div {
      & .icon {
        width: 34px;
        height: 34px;
        background-color: aliceblue;
        svg {
          width: 24px;
          height: 24px;
        }
        &:hover {
          background-color: wheat;
        }
      }
    }
    & .text-footer {
      display: none;
    }
    & .div-hidden {
      display: none;
    }
  }
}
