.footer-container {
  & div a:hover .icon {
    fill: white;
    transition: all 0.3s;
  }
}
#message {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 2rem;
  background-color: #aacb73;
  color: #fff;
  z-index: 9999;
  width: 10%;
  border-radius: 30px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear, transform 0.5s ease;
}

#message.show {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
  animation: slideUp 0.5s ease 3s forwards;
}

@keyframes slideUp {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, -100%);
  }
}

//skill
.SkillsItemContainer {
  /* Thiết lập chiều rộng tối đa cho phần tử chứa */
  max-width: 100%;
  overflow-x: scroll; /* Tạo hiệu ứng cuộn ngang */

  /* Thiết lập các thuộc tính cho phần tử con */
  ul {
    display: flex;
    gap: 6px;
    margin-bottom: 71px;
    min-width: 100%; /* Thiết lập chiều rộng tối thiểu cho phần tử con */
    flex-wrap: nowrap; /* Hạn chế phần tử con bị xếp xuống dòng */
    padding-left: 13rem;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-weight: bold;
    margin-right: 32px;
  }

  /* Thiết lập màu cho thanh cuộn và thanh kéo */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: black;
  }

  ::-webkit-scrollbar-thumb {
    background-color: black;
  }
}
.bg-color {
  background-color: black;
  opacity: 0.6;
}
.button {
  border: 2px solid #7b4ae2;
  transition: all 0.3s;
  &:hover span {
    color: white;
    opacity: 1;
  }
  &:hover .icon {
    stroke: white;
    opacity: 0.8;
  }
}
.li-cart {
  border: 2px solid rgba(123, 74, 226, 0.5);
}
.colorPuple {
  background-color: rgba(123, 74, 226, 0.1);
  color: #7b4ae2;
}

.colorGreen {
  background-color: rgba(74, 226, 144, 0.5);
  color: #4ae290;
}

// Programming programmingChapter
.programmingContainer {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  transition: all 0.3s;

  &:hover {
    background-color: rgba(123, 74, 226, 0.1);
    & .programmingChapter div {
      &:nth-child(1) {
        background-color: #4ae290;
        color: #fff;
      }
      background-color: #7b4ae2;
      color: #fff;
    }
    & h3 {
      color: white;
      opacity: 1;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bground {
  width: 250px;
  background-color: rgba(123, 74, 226, 0.1);
}
.snake {
  transition: all 0.3s ease-in-out;
}

a[href="#about"]:active .snake {
  transition: all 3s;
}
